{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="submenu"><i class="fas fa-code"></i> About</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">System</th>
          <th scope="col">Version</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PyRaspWeb</td>
          <td>{{info['pyraspweb']}}</td>
        </tr>
        <tr>
          <td>Python</td>
          <td>{{info['python']}}</td>
        </tr>
        <tr>
          <td>Flask</td>
          <td>{{info['flask']}}</td>
        </tr>
      </tbody>
    </table>

    <div  class="footer">
      <p>Simple irrigation control system with raspberry pi</p>
    </div>

  </div><!-- /.container -->

  <style type="text/css">
    tr{
      text-align: center;
    }
    .submenu{
      text-align: center;
    }
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
    }
    .footer p{
      font-size: .8rem;
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      
    </script>
  {% endblock %}


