{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h5 class="submenu"><i class="fas fa-dollar-sign"></i> Consulta Renda</h5>

    <form method="POST" name="renda" id="renda">
      <div class="form-group">
        <label for="area">Área Plantada</label>
        <div>
            <input type="text" id="area" name="area" class="form-control" placeholder="Em mts2 quadrados" required autofocus autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="variedade">Variedade</label>
        <div>
            <select class="form-control" id="variedade" name="variedade">
              <option value="Bahianinha">Bahianinha</option>
              <option value="Fécula Branca">Fécula Branca</option>
              <option value="Iapar">Iapar</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="data">Data do plantio</label>
        <div>
            <input type="date" id="data" name="data" class="form-control" placeholder="Digite a data do plantio" required autofocus autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="amostra">Tamanho da amostra</label>
        <div>
            <input type="text" id="amostra" name="amostra" class="form-control typeahead" placeholder="Digite o tamanho da amostra (mts2)" required autofocus autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="peso">Peso da amostra</label>
        <div>
            <input type="text" id="peso" name="peso" class="form-control typeahead" placeholder="Digite o peso da amostra em kg" required autofocus autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="tom">Tom do reagente</label>
        <div class="">
            <div class="form-check">
              <label class="form-check-label" for="baixo">
              <input class="form-check-input" type="radio" name="tom" id="tom" value="1" checked>
                Imagem 1
              </label>
              <img src="{{ url_for('static', filename='image/amostra_baixa.jpeg')}}">
            </div>
        </div>
        <br>
        <div class="">
            <div class="form-check">
              <label class="form-check-label" for="alto">
              <input class="form-check-input" type="radio" name="tom" id="tom" value="2">
                Imagem 2
              </label>
              <img src="{{ url_for('static', filename='image/amostra_alta.jpeg')}}">
            </div>
        </div>
      </div>
      <div class="form-group">
        <div>
        <label for="local">Local da plantação</label>
            <input type="text" id="local" name="local" class="form-control" placeholder="Digite o local da plantação" required autofocus autocomplete="off">
        </div>
      </div>

      <!-- botoes -->
      <div class="row botoes">
        <div class="col-6" style="text-align: right;">
            <a id="btn_cancelar" href="#" class="btn btn-block btn-danger">Cancelar</a>
        </div>
        <div class="col-6">
            <button id="btn_confirma" type="submit" class="btn btn-block btn-success">Confirma</button>
        </div>
      </div>
      <br><br>
    </form>

  </div><!-- /.container -->

  <style type="text/css">
    .submenu{
      text-align: center;
    }
    input[type=color].form-control {
      padding: 0px;
    }
    img{
      max-width: 96px;
      max-height: 96px;
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      
    </script>
  {% endblock %}


