{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h5 class="submenu"><i class="fas fa-chart-bar"></i> Cotações</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Qtde</th>
          <th scope="col">Amido</th>
          <th scope="col">Produtor</th>
        </tr>
      </thead>
      <tbody>
        {% if rendas %}
          {% for renda in rendas %}
            <tr>
              <td>{{renda.id}}</td>
              <td>{{renda.peso_total}}</td>
              <td>25%</td>
              <td>Sebastião Silva</td>
            </tr>
          {% endfor %}
        {% endif %}
        
      </tbody>
    </table>

    <div class="div_btn">
      <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('index')}}';">Voltar</button>
    </div>

  </div><!-- /.container -->

  <style type="text/css">
    .submenu{
      text-align: center;
    }
    .div_btn{
      text-align: center;
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      
    </script>
  {% endblock %}


