{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="submenu"><i class="fas fa-home"></i> Hackthon Fiman 2018</h5>


    <div  class="footer">
      <p>Hackthon Fiman 2018</p>
    </div>

  </div><!-- /.container -->

  <style type="text/css">
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
    }
    .footer p{
      font-size: .8rem;
    }
    </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      
    </script>
  {% endblock %}


