{% extends "base.html" %}
  {% block body %}
  <div class="container">

    <h5 class="submenu"><i class="fas fa-code"></i> Sobre</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Dev</th>
          <th scope="col">Instituição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Junior Tada</td>
          <td>TadaSoftware</td>
        </tr>
        <tr>
          <td>Milena Rocha</td>
          <td>Fatecie</td>
        </tr>
        <tr>
          <td>Marlene Pereira</td>
          <td>Fatecie</td>
        </tr>
        <tr>
          <td>Jéssica Martins</td>
          <td>Fatecie</td>
        </tr>
        <tr>
          <td>Victor Ferreira</td>
          <td>Fatecie</td>
        </tr>
      </tbody>
    </table>

  </div><!-- /.container -->

  <style type="text/css">
    tr{
      text-align: center;
    }
    .submenu{
      text-align: center;
    }
  </style>
  {% endblock %}

  {% block javascript %}
    <script type="text/javascript">
      
    </script>
  {% endblock %}


